version: "3.9"

services:
  mosquitto:
    image: eclipse-mosquitto:1.6.12
    ports:
      - "1883:1883"
    networks:
      - internal_net

  controller:
    build: ./sensor_temperature
    environment:
      - MQTT_HOST=mosquitto
    depends_on:
      - mosquitto
    networks:
      - internal_net

  subscriber:
      build: ./mqtt_clients
      environment:
        - MQTT_HOST=mosquitto
      depends_on:
        - mosquitto
        - controller
      networks:
        - internal_net
      volumes:
        - ./data:/mqtt/data


networks:
  internal_net:
    driver: bridge

