version: "3.9"

services:
  mosquitto:
    image: eclipse-mosquitto:1.6.12
    ports:
      - "1883:1883"
    networks:
      - internal_net

  influxdb:
    image: influxdb:2.6
    ports:
      - "8086:8086"
    environment:
      - INFLUXDB_ADMIN_USER=admin
      - INFLUXDB_ADMIN_PASSWORD=admin123
      - INFLUXDB_DB=home_data
    volumes:
      - influxdb_data:/var/lib/influxdb2
    networks:
      - internal_net

  controller:
    build: ./sensor_temperature
    environment:
      - MQTT_HOST=mosquitto
      - SENSOR_TOPIC_DATA=room1/temperature
      - SENSOR_TOPIC_STATUS=room1/heatpump
    depends_on:
      - mosquitto
    networks:
      - internal_net

  subscriber:
    build: ./mqtt_clients
    environment:
      - MQTT_HOST=mosquitto
      - ROOMS=room1
      - MQTT_HOST=mosquitto
      - INFLUX_URL=http://influxdb:8086
      - INFLUX_TOKEN=gOofN2uycwMDf8JlTjWvj70pr5pugmM7paUpTT9eY8wIVXW0OmU5_4ZN3afnuHtmOMJ2CNMswU725NXcIEMZAA==
      - INFLUX_ORG=my-org
      - INFLUX_BUCKET=raw_data

    depends_on:
      - mosquitto
      - influxdb
      - controller
    networks:
      - internal_net

networks:
  internal_net:
    driver: bridge

volumes:
  influxdb_data:
